/* start variables */

:root {
    --main-color: #19c8fa;
    --transparent-color: rgb(15 116 143 / 70%);
    --section-padding: 100px;
}

/* end variables */

/* global rules */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    min-width: 240px;
}

html {
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

/* container */

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* small */

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* medium */

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* large */

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* special heading */

.main-heading {
    text-align: center;
}

.main-heading h2 {
    font-weight: normal;
    font-size: 40px;
    position: relative;
    margin-bottom: 70px;
    text-transform: uppercase;
}

.main-heading h2::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background-color: #333;
    bottom: -30px;
    width: 120px;
}

.main-heading h2::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid #333;
    bottom: -38px;
    background-color: white;
}

.main-heading p {
    width: 550px;
    margin: 0 auto 100px;
    max-width: 100%;
    line-height: 2;
    color: #777;
}

/* end global rules*/

/* start header style */

header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
}

header .container::after {
    content: "";
    position: absolute;
    height: 1px;
    background-color: #a2a2a2;
    bottom: -1px;
    width: calc(100% - 30px);
    left: 15px;
}

.logo {
    width: 40px;
}

header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.toggle-menu {
    color: white;
    font-size: 22px;
}

@media (min-width: 768px) {
    .toggle-menu {
        display: none;
    }
}

header nav ul {
    display: flex;
}

@media (max-width: 767px) {
    header nav ul {
      display: none;
    }

    header nav .toggle-menu:hover + ul {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: rgb(0 0 0 / 50%);
    }

    header nav ul li a {
      padding: 15px !important;
    }
}

header nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 14px;
    transition: 0.3s;
    padding: 40px 10px;
}

header nav ul li a:active,
header nav ul li a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

header .form {
    width: 40px;
    height: 30px;
    position: relative;
    margin-left: 30px;
    border-left: 1px solid white;
}

header .form i {
    color: white;
    position: absolute;
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}

/* end header style */

/* start landing style */

.landing {
    min-height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 60%), rgba(0, 0, 0, 60%)), url(../images/landing.jpg);
    background-size: cover;
    position: relative;
}

.landing .text {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    padding: 50px;
    background-color: var(--transparent-color);
    color: white;
    display: flex;
    justify-content: flex-end;
}

.landing .text .content {
    max-width: 500px;
}


@media (max-width: 767px) {
    .landing .text {
      width: 100%;
    }
    .landing .text .content {
      max-width: 100%;
    }
}

.landing .text .content h2 {
    font-size: 32px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 20px;
}

.landing .text .content p {
    font-size: 14px;
    line-height: 2;
}

.landing .change-background {
    position: absolute;
    top: 50%;
    transform: translateY(-50px);
    color: #ddd;
}

@media (max-width: 767px) {
    .landing .change-background {
      display: none;
    }

    .landing .text .content h2 {
        font-size: 17px;
    }

    .landing .text .content p {
        font-size: 12px;
    }
}

@media (max-width: 836px) {
    .landing .text {
        padding: 35px;
    }
}

.landing .left {
    left: 20px;
}

.landing .right {
    right: 30px;
}

.landing .bullets {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50px);
    width: 75px;
    bottom: 30px;
    justify-content: space-between;
}

.landing .bullets li {
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
}

.landing .bullets li.active {
    background-color: var(--main-color);
    border-color: var(--main-color);
}

@media (max-width: 767px) {
    .landing .bullets li {
        width: 15px;
        height: 15px;
    }
}

/* end landing style */

/* start services style */

.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

@media (min-width: 768px) {
    .services .services-container {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
      grid-column-gap: 40px;
      grid-row-gap: 60px;
    }
}

.services-container .srv-box {
    display: flex;
}

.srv-box i {
    margin-right: 50px;
}

@media (max-width: 767px) {
    .services .srv-box {
      display: flex;
      flex-direction: column;
      text-align: center;
      margin-bottom: 40px;
    }
    .services .srv-box i {
      margin: 0 0 30px;
    }
}

.srv-box .text h3 {
    margin-bottom: 30px;
    color: var(--main-color);
}

.srv-box .text p {
    line-height: 2;
    color: #777;
}

/* end services style */

/* start design style */

.design {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    height: 600px;
    background: linear-gradient(rgba(0, 0, 0, 60%), rgba(0, 0, 0, 60%)), url(../images/design-features.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.design .image,
.design .text {
  flex: 1;
}

.design .image {
    text-align: center;
}

@media (max-width: 767px) {
    .design .image {
      display: none;
    }
}

.design .image img {
    position: relative;
    bottom: -150px;
}

.design .text {
    color: white;
    padding: 50px;
    background-color: var(--transparent-color);
}

.design .text h2 {
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.design .text ul li {
    padding: 15px 0;
}

.design .text ul li::before {
    font-family: "Font Awesome 5 Free";
    content: "\f108";
    font-weight: 900;
    margin-right: 20px;
}

/* end design style */

/* start portfolio style */

.portfolio {    
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.list {
    display: flex;
    justify-content: center;
}

.list li {
    padding: 10px;
}

.list li.active {
    background-color: var(--main-color);
    color: white;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}

.gallery .box {
    position: relative;
    overflow: hidden;
}

.gallery .box:hover .caption {
    bottom: 0;
}
  
.gallery .box:hover img {
    transform: rotate(3deg) scale(1.1);
}

@media (min-width: 768px) {
    .gallery .box {
      flex-basis: 50%;
    }
}
 
@media (min-width: 1199px) {
    .gallery .box {
      flex-basis: 25%;
    }
}

.gallery .box img {
    width: 100%;
    transition: 0.3s;
}

.box .caption {
    position: absolute;
    left: 0;
    padding: 20px;
    background-color: white;
    width: 100%;
    transition: 0.3s;
    bottom: -100%;
}

.box .caption h4{
    font-weight: normal;
    margin-bottom: 10px;
}

.box .caption p{
    color: var(--main-color);
}

.portfolio .more {
    background-color: var(--main-color);
    color: white;
    padding: 15px 20px;
    display: block;
    width: fit-content;
    margin: 30px auto;
    text-decoration: none;
    text-transform: uppercase;
}

/* end portfolio style */

/* start video section style */

.video {
    position: relative;
}

.video::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 40%);
}

.video video{
    width: 100%;
}

.video .text {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    background-color: var(--transparent-color);
    color: white;
    text-align: center;
}

.video .text h2 {
    margin: 0 0 30px;
    text-transform: uppercase;
    font-weight: normal;
}

.video .text p {
    margin-bottom: 30px;
}

.video .text button{
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 15px;
}

/* end video section style */

/* start about style */

.about {
    padding-top: var(--section-padding);
    overflow: hidden;
    text-align: center;
}

.about img {
    position: relative;
    bottom: -120px;
    margin-top: -120px;
    max-width: 100%;
}

@media (max-width: 767px) {
    .about img {
      bottom: -60px;
      margin-top: -60px;
    }
}

/* end about style */

/* start statistics style */

.stats {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 70%), rgba(0, 0, 0, 70%)), url("../images/stats.png");
    background-size: cover;
}

.stats .container {
    display: flex;
    flex-wrap: wrap;
}

.stats .box {
    color: white;
    padding: 50px;
    background-color: var(--transparent-color);
}

@media (max-width: 767px) {
    .stats .container .box {
      flex-basis: 100%;
    }
}

@media (min-width: 768px) {
    .stats .container .box {
      flex-basis: 50%;
    }
}

@media (min-width: 992px) {
    .stats .container .box {
      flex-basis: 25%;
    }
}

.stats .container .box i {
    width: 40px;
    height: 40px;
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto 30px;
}

.stats .container .box .number {
    font-size: 50px;
    font-weight: bold;
    margin: 0 0 20px;
}

.stats .container .box p {
    font-size: 14px;
}

/* end statistics style */

/* start skills style */

.skills {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.skills .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (min-width: 992px) {
    .skills .container > div {
      flex-basis: 45%;
    }
}

.skills .container > div > h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    margin: 0 0 30px 0;
}

.skills .container > div > p {
    color: #777;
    line-height: 2;
    text-align: center;
    margin-bottom: 60px;
}

.testimonials .box{
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}

.testimonials .box img {
    width: 100px;
    border-radius: 50%;
    margin-right: 40px;
}

@media (max-width: 767px) {
    .testimonials .box {
      flex-direction: column;
      text-align: center;
    }

    .testimonials .box img {
      margin: 0 auto 20px;
    }
}

.testimonials .text {
    line-height: 1.8;
    border-bottom: 1px solid #ccc;
}

.testimonials .text p {
    color: #777;
    text-align: end;
    font-size: 14px;
    margin-bottom: 10px;
}

.testimonials .bullets {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
}

.testimonials .bullets li {
    width: 20px;
    height: 20px;
    border: 1px solid #333;
    border-radius: 50%;
    margin-right: 10px;
}

.testimonials .bullets li.active {
    background-color: var(--main-color);
}

@media (max-width: 767px) {
    .testimonials .bullets li {
        width: 15px;
        height: 15px;
    }
}

.our-skills .skill {
    margin-bottom: 40px;
}

.skill h4 {
    margin-bottom: 15px;
    font-weight: normal;
    text-transform: uppercase;
}

.our-skills .prog {
    background-color: #dedadc;
    height: 25px;
}

.skill .prog span {
    display: block;
    background-color: var(--main-color);
    height: 100%;
    position: relative;
}

.skill .prog span::after {
    content: attr(data-progress);
    position: absolute;
    right: -18px;
    bottom: 30px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 4px;
    width: 40px;
}

.skill .prog span::before {
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 8px;
    border-color: black transparent transparent;
    right: -8px;
    top: -8px;
}

/* end skills style */

/* start quote style */

.quote {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
    background: linear-gradient(rgba(0, 0, 0, 75%), rgba(0, 0, 0, 75%)), url(../images/quote.jpg);
    background-size: cover;
    color: white;
}

.quote .container q {
    font-size: 30px;
    margin-bottom: 20px;
    display: block;
}

.quote .container q::after {
    font-family: "font awesome 5 free";
    content: "\f10e";
    font-weight: 600;
    margin-left: 5px;
}

.quote .container q::before {
    font-family: "font awesome 5 free";
    content: "\f10d";
    font-weight: 600;
    margin-right: 6px;
}

.quote .container span {

}

/* end quote style */